# Final DataFrame:
Creating the final dataframe from all dataframes created at the Data acquisition phase.

In [1]:
import pandas as pd
import json

In [2]:
def read_df(df_name):
    return pd.read_csv(df_name)

In [4]:
steam_spy_df = read_df("steam_spy_clean.csv")
metacritics_df = read_df("metacritic.csv")
youtube_df = read_df("youtube_stats.csv")

In [5]:
steam_spy_df.drop(columns=["Unnamed: 0"], inplace=True)
metacritics_df.drop(columns=["Unnamed: 0"], inplace=True)
youtube_df.drop(columns=["Unnamed: 0"], inplace=True)

In [6]:
final_df = pd.concat([steam_spy_df, youtube_df], axis=1)

In [7]:
final_df.drop_duplicates(subset=['name'], keep='first', inplace=True)
final_df.drop(['title'], axis=1, inplace=True)

In [8]:
final_df

,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,views,likes,comments
0,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,5382473,722938,"50,000,000 .. 100,000,000",30578,7329,0,20055366,426246,45340
1,Dota 2,Valve,Valve,1377514,267155,"100,000,000 .. 200,000,000",36994,1118,0,11063025,77961,22805
2,Grand Theft Auto V,Rockstar North,Rockstar Games,1064898,202052,"20,000,000 .. 50,000,000",13027,5973,1480,79933514,1591274,326264
3,PUBG: BATTLEGROUNDS,"KRAFTON, Inc.","KRAFTON, Inc.",1037820,844274,"20,000,000 .. 50,000,000",26778,11760,2999,643933,3160,173
4,Tom Clancy's Rainbow Six Siege,Ubisoft Montreal,Ubisoft,884943,128398,"20,000,000 .. 50,000,000",13964,2646,799,2716326,21901,902
...,...,...,...,...,...,...,...,...,...,...,...,...
4797,Tactical Vanguard Saga,Blacc Ski Weekend Industries,Blacc Ski Weekend Industries,0,2,"100,000 .. 200,000",0,0,499,78,3,1
4798,Sabre Team,Krisalis Software,Ziggurat,0,1,"2,000,000 .. 5,000,000",0,0,454,284,12,0
4799,ESCAPE FROM VOYNA: Dead Forest,Dead Turtle,Dead Turtle,0,1,"500,000 .. 1,000,000",0,0,467,23402,830,111
4800,RACE On,SimBin,SimBin,0,0,"100,000 .. 200,000",1,1,399,1949619,14513,1178
4803,Merlin Soccer,Educational Games,Educational Games,0,1,"200,000 .. 500,000",0,0,49,221307,508,39

In [9]:
final_df.rename(columns={"views":"yt_views", "likes":"yt_likes", "comments":"yt_comments"}, inplace=True) #yt is short for youTube
final_df.to_csv("final_df.csv")
final_df

,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,yt_views,yt_likes,yt_comments
0,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,5382473,722938,"50,000,000 .. 100,000,000",30578,7329,0,20055366,426246,45340
1,Dota 2,Valve,Valve,1377514,267155,"100,000,000 .. 200,000,000",36994,1118,0,11063025,77961,22805
2,Grand Theft Auto V,Rockstar North,Rockstar Games,1064898,202052,"20,000,000 .. 50,000,000",13027,5973,1480,79933514,1591274,326264
3,PUBG: BATTLEGROUNDS,"KRAFTON, Inc.","KRAFTON, Inc.",1037820,844274,"20,000,000 .. 50,000,000",26778,11760,2999,643933,3160,173
4,Tom Clancy's Rainbow Six Siege,Ubisoft Montreal,Ubisoft,884943,128398,"20,000,000 .. 50,000,000",13964,2646,799,2716326,21901,902
...,...,...,...,...,...,...,...,...,...,...,...,...
4797,Tactical Vanguard Saga,Blacc Ski Weekend Industries,Blacc Ski Weekend Industries,0,2,"100,000 .. 200,000",0,0,499,78,3,1
4798,Sabre Team,Krisalis Software,Ziggurat,0,1,"2,000,000 .. 5,000,000",0,0,454,284,12,0
4799,ESCAPE FROM VOYNA: Dead Forest,Dead Turtle,Dead Turtle,0,1,"500,000 .. 1,000,000",0,0,467,23402,830,111
4800,RACE On,SimBin,SimBin,0,0,"100,000 .. 200,000",1,1,399,1949619,14513,1178
4803,Merlin Soccer,Educational Games,Educational Games,0,1,"200,000 .. 500,000",0,0,49,221307,508,39

In [62]:
metacritics_df

                                        name  score
0                 Uncharted 2: Among Thieves     96
1             Call of Duty: Modern Warfare 2     94
2                          Street Fighter IV     94
3             Call of Duty: Modern Warfare 2     94
4           Grand Theft Auto: Chinatown Wars     93
...                                      ...    ...
12090                             Taxi Chaos     42
12091  Werewolf: The Apocalypse - Earthblood     42
12092                      Balan Wonderworld     38
12093                      Balan Wonderworld     36
12094                         eFootball 2022     25

[12095 rows x 2 columns]

In [10]:
metacritics_df.sort_values(by=['name', 'score'], ascending=[True, False], ignore_index=True, inplace=True)
metacritics_df

                                 name  score
0                              #DRIVE     69
1                              #IDARB     77
2                     #KILLALLZOMBIES     53
3                       'Splosion Man     84
4                            .detuned     46
...                               ...    ...
12090                  oOo: Ascension     70
12091                            rain     72
12092     theHunter: Call of the Wild     64
12093                    uDraw Studio     71
12094  void tRrLM(); //Void Terrarium     74

[12095 rows x 2 columns]

In [11]:
metacritics_df.head(50)

                                 name  score
0                              #DRIVE     69
1                              #IDARB     77
2                     #KILLALLZOMBIES     53
3                       'Splosion Man     84
4                            .detuned     46
5             .hack//G.U. Last Recode     76
6             .hack//G.U. Last Recode     69
7               0 Day Attack on Earth     41
8                         007 Legends     45
9                         007 Legends     41
10                          0RBITALIS     73
11                         1-2-Switch     58
12                    10 Second Ninja     72
13                  10 Second Ninja X     82
14                  10 Second Ninja X     76
15                  100 Classic Books     70
16                    1000 Tiny Claws     76
17                        1001 Spikes     78
18                   100ft Robot Golf     56
19         101-in-1 Explosive Megamix     46
20      101-in-1 Sports Party Megamix     41
21             11-11: Memories Retold     77
22             11-11: Memories Retold     77
23             11-11: Memories Retold     73
24                       112 Operator     73
25                12 is Better Than 6     59
26            13 Sentinels: Aegis Rim     85
27                                140     70
28              1950s Lawn Mower Kids     43
29                     1954: Alcatraz     58
30      1979 Revolution: Black Friday     80
31      1979 Revolution: Black Friday     77
32      1979 Revolution: Black Friday     70
33                               198X     74
34                               198X     65
35                               198X     63
36   2010 FIFA World Cup South Africa     83
37   2010 FIFA World Cup South Africa     82
38   2010 FIFA World Cup South Africa     70
39   2010 FIFA World Cup South Africa     69
40         2014 FIFA World Cup Brazil     74
41         2014 FIFA World Cup Brazil     73
42           2064: Read Only Memories     80
43           2064: Read Only Memories     76
44  2064: Read Only Memories INTEGRAL     74
45                               20XX     77
46                              2Dark     68
47                              2Dark     65
48                              2Dark     54
49                  3 on 3 NHL Arcade     66

In [61]:
names_list = list(dict.fromkeys(metacritics_df['name'])) #list of 1 instance of game name from metacritics df
scores_avg = []
index = 0
count_same_names = 1
score_sum = 0
i = 0

for j in range(1, len(metacritics_df)):
    score_sum += metacritics_df.score.loc[i]
    if metacritics_df.name.loc[j] == metacritics_df.name.loc[i]:
        count_same_names += 1
    else:
        scores_avg.append(score_sum/count_same_names)
        count_same_names = 1
        score_sum = 0
        if j+1 == len(metacritics_df):
            scores_avg.append(metacritics_df.score.loc[j])
    i+=1

In [66]:
metacritics_df.drop_duplicates(subset='name', inplace=True)
metacritics_df

                                 name  score
0                              #DRIVE     69
1                              #IDARB     77
2                     #KILLALLZOMBIES     53
3                       'Splosion Man     84
4                            .detuned     46
...                               ...    ...
12090                  oOo: Ascension     70
12091                            rain     72
12092     theHunter: Call of the Wild     64
12093                    uDraw Studio     71
12094  void tRrLM(); //Void Terrarium     74

[7614 rows x 2 columns]

In [72]:
# some games are dustributed for multiple platforms and each plaform had different rating score
# the new column 'scores_avg' is the average of game scores from different platforms 
metacritics_df['scores_avg'] = scores_avg 
metacritics_df.drop(['score'], axis=1, inplace=True)
metacritics_df

                                 name  scores_avg
0                              #DRIVE        69.0
1                              #IDARB        77.0
2                     #KILLALLZOMBIES        53.0
3                       'Splosion Man        84.0
4                            .detuned        46.0
...                               ...         ...
12090                  oOo: Ascension        70.0
12091                            rain        72.0
12092     theHunter: Call of the Wild        64.0
12093                    uDraw Studio        71.0
12094  void tRrLM(); //Void Terrarium        74.0

[7614 rows x 2 columns]

In [75]:
metacritics_df.reset_index(drop=True, inplace=True)
metacritics_df.to_csv("metacritics_clean.csv")

In [26]:
metacritics_df.head(20)

    Unnamed: 0                           name  scores_avg
0            0                         #DRIVE   69.000000
1            1                         #IDARB   77.000000
2            2                #KILLALLZOMBIES   53.000000
3            3                  'Splosion Man   84.000000
4            4                       .detuned   46.000000
5            5        .hack//G.U. Last Recode   72.500000
6            6          0 Day Attack on Earth   41.000000
7            7                    007 Legends   43.000000
8            8                      0RBITALIS   73.000000
9            9                     1-2-Switch   58.000000
10          10                10 Second Ninja   72.000000
11          11              10 Second Ninja X   79.000000
12          12              100 Classic Books   70.000000
13          13                1000 Tiny Claws   76.000000
14          14                    1001 Spikes   78.000000
15          15               100ft Robot Golf   56.000000
16          16     101-in-1 Explosive Megamix   46.000000
17          17  101-in-1 Sports Party Megamix   41.000000
18          18         11-11: Memories Retold   75.666667
19          19                   112 Operator   73.000000

In [29]:
final_df = read_df("final_df.csv")
metacritics_df = read_df("metacritics_clean.csv")

In [33]:
final_df['score'] = 0
final_df

,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,yt_views,yt_likes,yt_comments,score
0,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,5382473,722938,"50,000,000 .. 100,000,000",30578,7329,0,20055366,426246,45340,0
1,Dota 2,Valve,Valve,1377514,267155,"100,000,000 .. 200,000,000",36994,1118,0,11063025,77961,22805,0
2,Grand Theft Auto V,Rockstar North,Rockstar Games,1064898,202052,"20,000,000 .. 50,000,000",13027,5973,1480,79933514,1591274,326264,0
3,PUBG: BATTLEGROUNDS,"KRAFTON, Inc.","KRAFTON, Inc.",1037820,844274,"20,000,000 .. 50,000,000",26778,11760,2999,643933,3160,173,0
4,Tom Clancy's Rainbow Six Siege,Ubisoft Montreal,Ubisoft,884943,128398,"20,000,000 .. 50,000,000",13964,2646,799,2716326,21901,902,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4789,Tactical Vanguard Saga,Blacc Ski Weekend Industries,Blacc Ski Weekend Industries,0,2,"100,000 .. 200,000",0,0,499,78,3,1,0
4790,Sabre Team,Krisalis Software,Ziggurat,0,1,"2,000,000 .. 5,000,000",0,0,454,284,12,0,0
4791,ESCAPE FROM VOYNA: Dead Forest,Dead Turtle,Dead Turtle,0,1,"500,000 .. 1,000,000",0,0,467,23402,830,111,0
4792,RACE On,SimBin,SimBin,0,0,"100,000 .. 200,000",1,1,399,1949619,14513,1178,0
4793,Merlin Soccer,Educational Games,Educational Games,0,1,"200,000 .. 500,000",0,0,49,221307,508,39,0

In [34]:
# filling score values using the metacritics scores dataframe
i=0
for nm in metacritics_df['name']:
    if nm in final_df['name'].values:
        indx = final_df[final_df['name']==nm].index
        final_df.at[indx, 'score'] = metacritics_df.at[i,'scores_avg']
    i+=1

In [42]:
final_df.to_csv("final_df.csv", index=False)

In [47]:
final_df

,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,yt_views,yt_likes,yt_comments,score
0,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,5382473,722938,"50,000,000 .. 100,000,000",30578,7329,0,20055366,426246,45340,80.666667
1,Dota 2,Valve,Valve,1377514,267155,"100,000,000 .. 200,000,000",36994,1118,0,11063025,77961,22805,90.000000
2,Grand Theft Auto V,Rockstar North,Rockstar Games,1064898,202052,"20,000,000 .. 50,000,000",13027,5973,1480,79933514,1591274,326264,96.800000
3,PUBG: BATTLEGROUNDS,"KRAFTON, Inc.","KRAFTON, Inc.",1037820,844274,"20,000,000 .. 50,000,000",26778,11760,2999,643933,3160,173,0.000000
4,Tom Clancy's Rainbow Six Siege,Ubisoft Montreal,Ubisoft,884943,128398,"20,000,000 .. 50,000,000",13964,2646,799,2716326,21901,902,75.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4789,Tactical Vanguard Saga,Blacc Ski Weekend Industries,Blacc Ski Weekend Industries,0,2,"100,000 .. 200,000",0,0,499,78,3,1,0.000000
4790,Sabre Team,Krisalis Software,Ziggurat,0,1,"2,000,000 .. 5,000,000",0,0,454,284,12,0,0.000000
4791,ESCAPE FROM VOYNA: Dead Forest,Dead Turtle,Dead Turtle,0,1,"500,000 .. 1,000,000",0,0,467,23402,830,111,0.000000
4792,RACE On,SimBin,SimBin,0,0,"100,000 .. 200,000",1,1,399,1949619,14513,1178,73.000000
4793,Merlin Soccer,Educational Games,Educational Games,0,1,"200,000 .. 500,000",0,0,49,221307,508,39,0.000000

In [48]:
# filling scores for games with score = 0
# based on positive & negative values

pos_indx = 3
neg_indx = 4

for indx, row in final_df.iterrows():
    score_val = row.iloc[-1]
    pos_val = row.iloc[pos_indx]
    neg_val = row.iloc[neg_indx]
    
    if score_val == 0:
        if pos_val == 0:
            new_score = 0
        elif neg_val == 0:
            new_score = pos_val
        else:
            if pos_val > neg_val:
                new_score = 100-((neg_val/pos_val)*100)
            elif pos_val < neg_val:
                new_score = 100-((pos_val/neg_val)*100)
            else:
                new_score = 50
        final_df.at[indx,'score'] = new_score

In [51]:
final_df

,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,yt_views,yt_likes,yt_comments,score
0,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,5382473,722938,"50,000,000 .. 100,000,000",30578,7329,0,20055366,426246,45340,80.666667
1,Dota 2,Valve,Valve,1377514,267155,"100,000,000 .. 200,000,000",36994,1118,0,11063025,77961,22805,90.000000
2,Grand Theft Auto V,Rockstar North,Rockstar Games,1064898,202052,"20,000,000 .. 50,000,000",13027,5973,1480,79933514,1591274,326264,96.800000
3,PUBG: BATTLEGROUNDS,"KRAFTON, Inc.","KRAFTON, Inc.",1037820,844274,"20,000,000 .. 50,000,000",26778,11760,2999,643933,3160,173,18.649284
4,Tom Clancy's Rainbow Six Siege,Ubisoft Montreal,Ubisoft,884943,128398,"20,000,000 .. 50,000,000",13964,2646,799,2716326,21901,902,75.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4789,Tactical Vanguard Saga,Blacc Ski Weekend Industries,Blacc Ski Weekend Industries,0,2,"100,000 .. 200,000",0,0,499,78,3,1,0.000000
4790,Sabre Team,Krisalis Software,Ziggurat,0,1,"2,000,000 .. 5,000,000",0,0,454,284,12,0,0.000000
4791,ESCAPE FROM VOYNA: Dead Forest,Dead Turtle,Dead Turtle,0,1,"500,000 .. 1,000,000",0,0,467,23402,830,111,0.000000
4792,RACE On,SimBin,SimBin,0,0,"100,000 .. 200,000",1,1,399,1949619,14513,1178,73.000000
4793,Merlin Soccer,Educational Games,Educational Games,0,1,"200,000 .. 500,000",0,0,49,221307,508,39,0.000000

In [54]:
# calculating avg for owners of a game
owner_indx = 5

for i, row in final_df.iterrows():
    owners = row.iloc[owner_indx]
    
    x = owners.replace(',', '').replace('.', '').split()
    avg = (float(x[0]) + float(x[1]))/2
    final_df.at[i, 'owners'] = avg

In [58]:
final_df.rename(columns={'owners' : 'owners_approx'}, inplace=True)
final_df

,name,developer,publisher,positive,negative,owners_approx,average_forever,median_forever,price,yt_views,yt_likes,yt_comments,score
0,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,5382473,722938,75000000.0,30578,7329,0,20055366,426246,45340,80.666667
1,Dota 2,Valve,Valve,1377514,267155,150000000.0,36994,1118,0,11063025,77961,22805,90.000000
2,Grand Theft Auto V,Rockstar North,Rockstar Games,1064898,202052,35000000.0,13027,5973,1480,79933514,1591274,326264,96.800000
3,PUBG: BATTLEGROUNDS,"KRAFTON, Inc.","KRAFTON, Inc.",1037820,844274,35000000.0,26778,11760,2999,643933,3160,173,18.649284
4,Tom Clancy's Rainbow Six Siege,Ubisoft Montreal,Ubisoft,884943,128398,35000000.0,13964,2646,799,2716326,21901,902,75.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4789,Tactical Vanguard Saga,Blacc Ski Weekend Industries,Blacc Ski Weekend Industries,0,2,150000.0,0,0,499,78,3,1,0.000000
4790,Sabre Team,Krisalis Software,Ziggurat,0,1,3500000.0,0,0,454,284,12,0,0.000000
4791,ESCAPE FROM VOYNA: Dead Forest,Dead Turtle,Dead Turtle,0,1,750000.0,0,0,467,23402,830,111,0.000000
4792,RACE On,SimBin,SimBin,0,0,150000.0,1,1,399,1949619,14513,1178,73.000000
4793,Merlin Soccer,Educational Games,Educational Games,0,1,350000.0,0,0,49,221307,508,39,0.000000

In [63]:
# finding how many games have 0 views on YouTube.
# videos with 0 views are videos that either gone private or deleted from YouTube.
for i, row in final_df.iterrows():
    if row.iloc[9] == 0:
        print(row)

# got only 1 row

name                Aimbeast
developer          Outstrive
publisher          Outstrive
positive                1222
negative                  87
owners_approx       150000.0
average_forever          173
median_forever           265
price                   1999
yt_views                   0
yt_likes                   0
yt_comments                0
score              92.880524
Name: 3054, dtype: object

In [70]:
final_df.drop(final_df[final_df.name == 'Aimbeast'].index, inplace=True)
final_df

,name,developer,publisher,positive,negative,owners_approx,average_forever,median_forever,price,yt_views,yt_likes,yt_comments,score
0,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,5382473,722938,75000000.0,30578,7329,0,20055366,426246,45340,80.666667
1,Dota 2,Valve,Valve,1377514,267155,150000000.0,36994,1118,0,11063025,77961,22805,90.000000
2,Grand Theft Auto V,Rockstar North,Rockstar Games,1064898,202052,35000000.0,13027,5973,1480,79933514,1591274,326264,96.800000
3,PUBG: BATTLEGROUNDS,"KRAFTON, Inc.","KRAFTON, Inc.",1037820,844274,35000000.0,26778,11760,2999,643933,3160,173,18.649284
4,Tom Clancy's Rainbow Six Siege,Ubisoft Montreal,Ubisoft,884943,128398,35000000.0,13964,2646,799,2716326,21901,902,75.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4789,Tactical Vanguard Saga,Blacc Ski Weekend Industries,Blacc Ski Weekend Industries,0,2,150000.0,0,0,499,78,3,1,0.000000
4790,Sabre Team,Krisalis Software,Ziggurat,0,1,3500000.0,0,0,454,284,12,0,0.000000
4791,ESCAPE FROM VOYNA: Dead Forest,Dead Turtle,Dead Turtle,0,1,750000.0,0,0,467,23402,830,111,0.000000
4792,RACE On,SimBin,SimBin,0,0,150000.0,1,1,399,1949619,14513,1178,73.000000
4793,Merlin Soccer,Educational Games,Educational Games,0,1,350000.0,0,0,49,221307,508,39,0.000000

In [71]:
final_df.to_csv("final_df.csv", index=False)

In [5]:
df = read_df("final_df.csv")
df[(df['score']==0)].count()

name               5
developer          5
publisher          5
positive           5
negative           5
owners_approx      5
average_forever    5
median_forever     5
price              5
yt_views           5
yt_likes           5
yt_comments        5
score              5
is_successful      5
dtype: int64

In [6]:
# dropping rows with 0 score
df.drop(df[df.score == 0].index, inplace=True)

In [8]:
df.reset_index(drop=True, inplace=True)

In [10]:
df.to_csv("final_df.csv", index=False)

In [13]:
df

,name,developer,publisher,positive,negative,owners_approx,average_forever,median_forever,price,yt_views,yt_likes,yt_comments,score,is_successful
0,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,5382473,722938,75000000.0,30578,7329,0.00,20055366,426246,45340,80.666667,1
1,Dota 2,Valve,Valve,1377514,267155,150000000.0,36994,1118,0.00,11063025,77961,22805,90.000000,1
2,Grand Theft Auto V,Rockstar North,Rockstar Games,1064898,202052,35000000.0,13027,5973,14.80,79933514,1591274,326264,96.800000,1
3,PUBG: BATTLEGROUNDS,"KRAFTON, Inc.","KRAFTON, Inc.",1037820,844274,35000000.0,26778,11760,29.99,643933,3160,173,18.649284,0
4,Tom Clancy's Rainbow Six Siege,Ubisoft Montreal,Ubisoft,884943,128398,35000000.0,13964,2646,7.99,2716326,21901,902,75.333333,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4783,Battle Command,Ocean Software,Pixel Games UK,1,0,350000.0,0,0,4.99,5,0,0,1.000000,0
4784,Dragon Hunters,Sigonheart Games LLC,Sigonheart Games LLC,1,0,150000.0,0,0,19.99,45829,344,23,1.000000,0
4785,Minicraft Shooter,Sweet Games,Sweet Games,1,4,750000.0,0,0,0.99,423350,2227,63,75.000000,1
4786,Squares,Jason Swisher,Jason Swisher,1,0,150000.0,0,0,0.99,632903,2807,186,1.000000,0
4787,RACE On,SimBin,SimBin,0,0,150000.0,1,1,3.99,1949619,14513,1178,73.000000,0